* { margin: 0; padding: 0; }

.container { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 99999; /*width: 100vw;*/ /*height: 100px;*/ overflow: hidden; }

.scrollContainer { display: none; transition: all 1s ease; }

.slide { /*width: 100vw;*/ /*height: 100px;*/ }

.slide1 { background-color: #1bbc9b; }

.slide2 { background-color: #ff9900; }

.slide3 { background-color: #7baabe; }
