* {
    margin: 0;
    padding: 0;
}

.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    /*width: 100vw;*/
    /*height: 100px;*/
    overflow: hidden;
}

.scrollContainer {
    display: none;
    transition: all 1s ease;
}

.slide {
  /*width: 100vw;*/
  /*height: 100px;*/
}

.slide1 {
    background-color: rgba(27, 188, 155, 1);
}

.slide2 {
    background-color: rgba(255, 153, 0, 1);
}

.slide3 {
    background-color: rgba(123, 170, 190, 1);
}